* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    line-height: 1.5;
}
.nav {
    color:white;
    background: linear-gradient(to right, #EE0979, #FF6A00); 
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position:fixed;
    top: 0;
}

.margin-nav {
    margin-top: 60px;
}

.navbar-item{
    color: white;
    height: 100%;
    padding: 10px 20px;
    text-decoration: none;
}
.navbar-item:hover{
    background-color: aliceblue;
    color: black;
}
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.padding-32 {
    padding-bottom: 32px;
    padding-top: 32px;
}
p { 
    /* margin: 0px 20px;*/
    justify-content: center;
    text-align: center;
}

.member-item {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
body {
    text-align: center;
}

.fonttv{
    font-family: 'Lora', serif;
}

.member-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.contact {
    background: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    align-items: center;
}

/* .logo {
    margin-right: 500px;
} */

/* .contact-info {
    margin-left: -33%;
    margin-top: 35px;
} */

/* .logo {
    margin-right: 55%;
} */

.logo img {
    /* margin-left: 90px; */
    width: 130px;
}

.nav-item-container h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.contact-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 40px;
}

.nav-item-container-logo {
    display: flex;
    flex-direction: column;
   /* justify-content: space-around; */
    margin-left: 5px;
}

.nav-logo {
    margin: 5px;
}

.navbar-item-1 {
    color: black;
   /* height: 100%; */
    padding: 0px 20px; 
    text-decoration: none;
}

.nav-item-container-1 {
    display: flex;
    flex-direction: column;
}

.contact-info {
    display:flex;
    flex-direction: row;
    width: 70%;
}

/*.contact-info-container p {
    display:flex;
    flex-direction: column;
} */

.logo-box {
    display:flex;
    flex-direction: row;
}

/* .contact-info-container {
    margin-left: 20%;
} */

.logo {
    width: 30%;
}

.nav-item-container a {
    text-transform: uppercase;
    color: white;
    height: 100%;
    padding: 10px 20px;
    text-decoration: none;
}

ul {
    list-style: none;
    float:left;
}

.member-container ul {
    display:flex;
    flex-direction: row;
}

.member-item p {
    color: black;
    font-size: 20px;
}

.logo-box ul {
    display:flex;
    flex-direction: row;
}

.member-item a {
    text-decoration: none;
}

.slides {
    height: 500px;
}